<div class="container">
    <div class="row">
        <h3>統義玻璃股份有限公司&nbsp;<small>原料進貨下單作業</small></h3>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="yearSelector" class="dropdown"></li>
                        <li id="monthSelector" class="dropdown"></li>
                    </ul>
                    <form id="purchaseRequest" class="navbar-form navbar-left">
                        <select class="form-control">
                                <option>a</option>
                                <option>b</option>
                                <option>c</option>
                                <option>d</option>
                                <option>e</option>
                        </select>
                        <input id="requestDate" name="requestDate" type="date" class="form-control" required>
                        <input id="quantity" name="quantity" type="number" class="form-control" placeholder="數量" required>
                        <button id="submitButton" type="submit" class="btn btn-default">預約</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button id="exportButton" type="button" class="btn btn-default navbar-btn">輸出</button>
                            <button id="logoutButton" type="button" class="btn btn-default navbar-btn">登出</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <th class="col-xs-2 text-center"><strong></strong></th>
                <th class="col-xs-2 text-center"><strong>日期</strong></th>
                <th class="col-xs-2 text-center"><strong>項目</strong></th>
                <th class="col-xs-2 text-center"><strong>數量</strong></th>
                <th class="col-xs-3 text-center"><strong>狀態</strong></th>
                <th class="col-xs-3 text-center"><strong>備註</strong></th>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <h4>注意事項</h4>
                    <textarea rows="10" style="width:100%;border:none;"></textarea>
                </td>
            </tfoot>
        </table>
    </div>
</div>
