<footer class="navbar-fixed-bottom">
    <div class="col-xs-8 text-left">
        <span id="statusMessage">{{message}}</span>
    </div>
    <div class="col-xs-4 text-right">
        使用權限到期時間: <span id="accessExpDisplay">{{accessExp}}</span>
    </div>
</footer>
