<a class="dropdown-toggle" data-toggle="dropdown" role="button">{{templateData.selectedYear}}&nbsp;<span class="caret"></span></a>
<ul class="dropdown-menu">
    {{#each templateData.yearList}}
        <li data-year= {{year}}><a>{{year}}</a></li>
    {{/each}}
</ul>
